.header {
    display: flex;
    height: 50px;
    color: white;
    justify-content: center;
}

.text {
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 0 10px 0;
}

.header img {
    margin-top: 5px;
    margin-bottom: 5px;
}